# Виртуальное окружение
venv/
env/
ENV/
.venv/
include/
Lib/
Scripts/
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Логи
logs/
*.log

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db