# Виртуальное окружение
venv/
env/
ENV/
.venv/
.env
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/
*.swp
*.swo

Lib/
Scripts/

# Логи
logs/

# IDE
.vscode/
.idea/